<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gachon.mobile.programming.android.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.ApplicationClass"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBarNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.InitActivity"
            android:theme="@style/AppTheme.NoActionBarNoTitle" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.ActionBarNoTitle" />
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.ActionBarNoTitle" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.ActionBarNoTitle" />
        <activity android:name=".activities.SearchActivity" />
        <activity
            android:name=".activities.SubActivity"
            android:theme="@style/AppTheme.ActionBarNoTitle" />
        <activity
            android:name=".activities.DetailActivity"
            android:theme="@style/AppTheme.ActionBarNoTitle" />
    </application>

</manifest>