<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gachon.mobile.programming.android.finalproject">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".utils.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".init.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBarNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".init.InitActivity"
            android:theme="@style/AppTheme.NoActionBarNoTitle" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".register.RegisterActivity"/>
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme.ActionBarNoTitle" />
        <activity android:name=".main.search.SearchActivity" />
    </application>

</manifest>